* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #202020;
}
/* all */
.active {
  color: #ffb257 !important;
}
.button-orange {
  background-color: #ffb257;
  padding: 9px 36px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}
.button-orange:hover {
  color: #1c1c1c !important;
}

/* navbar */
section.navigasi {
  z-index: 1;
  background-color: #1c1c1c;
}
.navbar {
  font-weight: 400;
}
.navbar img {
  max-height: 40px;
}
.navbar .nav-link {
  margin-left: 30px;
  color: white;
}

/* hero */
section.hero {
  position: relative;
  overflow: hidden;
  padding: 40px 10px;
}
section.hero.eits::after {
  content: "EITSSSSS BIKININ DESAIN GUA DULUUUU BARU GUA LEPAS NIH WKWKWKW";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  font-size: 72px;
  text-align: center;
  padding-top: 100px;
  background-color: rgba(255, 255, 255, 0.7);
}
section.hero .contact-hero button {
  margin-right: 0px;
  font-size: 13px;
}
section.hero .contact-hero .button {
  font-size: 13px;
}
section.hero .contact-hero a {
  margin-right: 20px;
  margin-left: 20px;
}
section.hero .social {
  margin-top: 30px;
}
.profile {
  padding-right: 0px;
  margin-top: 30px;
  color: white;
}
.profile p {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #bab7ba;
  font-size: 13px;
}
.profile p strong {
  color: white;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
}
.image img.elemen1 {
  position: absolute;
  max-height: 70px;
  right: 10%;
  top: 5%;
}
.image img.profil {
  margin-top: 30px;
  max-width: 180px;
}

@media (min-width: 576px) {
  .profile p {
    font-size: 15px;
  }
  .image img.elemen1 {
    right: 20%;
  }
}
@media (min-width: 768px) {
  section.hero {
    padding: 55px 10px;
  }
  section.hero .contact-hero button {
    margin-right: 20px;
    font-size: 16px;
  }
  section.hero .contact-hero a {
    margin-right: 20px;
  }
  section.hero .social {
    margin-top: 0px;
  }
  .profile p {
    font-size: 13px;
  }
  .image {
    justify-content: space-around;
  }
  .image img.elemen1 {
    right: -20%;
  }
  .image img.profil {
    margin-top: 40px;
    max-width: 230px;
  }
}
@media (min-width: 992px) {
  section.hero {
    padding: 50px 10px;
  }

  .profile {
    padding-right: 120px;
    margin-top: 70px;
  }
  .profile p {
    font-size: 16px;
  }
  .image img.elemen1 {
    max-height: 120px;
    right: -30%;
    top: 0%;
  }
  .image img.profil {
    margin-top: 40px;
    max-width: 330px;
  }
}
@media (min-width: 1200px) {
  .profile {
    padding-right: 180px;
  }
  .image img.profil {
    margin-top: 10px;
    max-width: 370px;
  }
  .image img.elemen1 {
    max-height: 120px;
    right: -30%;
    top: -5%;
  }
  section.hero .contact-hero button {
    margin-right: 30px;
  }
  section.hero .contact-hero a {
    margin-right: 30px;
  }
}
@media (min-width: 1400px) {
  .image img.profil {
    margin-top: 10px;
    max-width: 420px;
  }
  .image img.elemen1 {
    max-height: 150px;
    right: -20%;
    top: -5%;
  }
  .profile p {
    font-size: 20px;
  }
  section.hero .contact-hero button {
    font-size: 22px;
  }
}

/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
/* project */
section.project {
  padding: 60px 0px;
  position: relative;
  overflow: hidden;
  color: white;
}
section.project img.img-fluid {
  max-width: 100%;
  margin-bottom: 20px;
}
section.project a {
  text-decoration: none;
  color: white;
}
section.project h4 {
  border-left: 14px solid #56cbfc;
  height: 100%;
  padding-left: 40px;
  margin-bottom: 60px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */

section.tools {
  background-color: #282828;
  padding: 40px;
}
section.tools img {
  margin: 0px 10px;
  max-height: 40px;
}
@media (min-width: 768px) {
  section.tools img {
    margin: 0px 20px;
    max-height: 50px;
  }
}
@media (min-width: 992px) {
  section.tools img {
    margin: 0px 20px;
    max-height: 80px;
  }
}
/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
section.pesan {
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
  padding-top: 80px;
  color: white;
}
section.pesan h4 {
  border-left: 14px solid #ffb257;
  padding-left: 40px;
  margin-bottom: 20px;
  padding-right: 0px;
}
section.pesan p {
  color: #bab7ba;
  padding-right: 0px;
  margin-bottom: 40px;
}
section.pesan input,
section.pesan textarea {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #282828;
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  color: #ffb257;
  border: 1px solid #ffb257;
}
section.pesan input::placeholder,
section.pesan textarea::placeholder {
  color: #ffb257;
}
section.pesan textarea {
  height: 255px;
}

section.pesan .kontak img {
  max-height: 250px;
}
section.pesan .kontak h3 {
  margin-top: 10px;
}
section.pesan .kontak h3 i {
  color: #ffb257;
}
section.pesan table {
  margin: 0 auto;
}
section.pesan table tr td {
  padding-bottom: 20px;
}
section.pesan table tr td:nth-child(1) {
  padding-right: 30px;
}

section.pesan .mediasosial {
  margin-top: 20px;
}
section.pesan .mediasosial img {
  margin-left: 10px;
}

@media (min-width: 576px) {
  section.pesan .kontak img {
    max-height: 200px;
  }
}
@media (min-width: 768px) {
  section.pesan .kontak img {
    max-height: 300px;
  }
}
@media (min-width: 992px) {
  section.pesan .kontak img {
    max-height: 400px;
  }
  section.pesan h4 {
    padding-right: 120px;
  }
  section.pesan p {
    padding-right: 140px;
  }
}

section.footer {
  color: white;
  background-color: #282828;
  padding: 10px 0px;
  font-size: 11px;
}

@media (min-width: 768px) {
  section.footer {
    font-size: 13px;
  }
}
